[submodule "submodules/GradientspaceCore"]
	path = submodules/GradientspaceCore
	url = https://github.com/gradientspace/GradientspaceCore
[submodule "submodules/GradientspaceIO"]
	path = submodules/GradientspaceIO
	url = https://github.com/gradientspace/GradientspaceIO
